@charset "UTF-8";
/*set body text white and p text magenta in research portfolio*/
.research-portfolio {
  color: white;
}
.research-portfolio p {
  color: magenta;
}
.research-portfolio a:link {
  font-size: 1.05em;
  color: white;
}
.research-portfolio a:visited {
  color: white;
  background-color: transparent;
}
.research-portfolio div {
  padding-top: 15px;
}
/*use container to have text shown on top of picture*/
div.image-container {
  position: relative;
  padding: 0;
}
.top-left-text {
  position: absolute;
  top: -17px;
  left: 5px;
  padding: 0;
}
/*vertically center contents on a page*/
.verticalCenter {
  z-index: 1;
  position: fixed;
  top: 53%;
  transform: translateY(-50%);
  margin-left: 10px;
}
/*image gallery grid*/
.grid1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}
.grid5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-right: 10px;
}
/*use container to style color picker*/
.input-color-container {
  padding-top: 0;
  position: relative;
  display: inline-block;
  overflow: hidden;
  /*width: 124px;*/
  height: 40px;
  border: solid 2px magenta;
}
/*position color picker behind container to hide default border*/
.input-color {
  position: absolute;
  left: -10px;
  top: -10px;
  width: 200px;
  height: 100px;
  border: none;
}
/*div around iframe*/
.iframe-holder-square {
  position: relative; 
  padding-top: 100%; 
  overflow: auto; 
  border: 2px solid magenta; 
  margin-bottom: 10px
}
/*invisible element in front of the iframe so it can be clicked*/
.frame-dummy {
  position: absolute; 
  top: 0px; 
  bottom: 0px; 
  left: 0px; 
  right: 0px;
}
.frame-dummy:hover {
  cursor: pointer;
}


/*hide html contents when entering vr on ios*/
.in-vr #htmlContents {
  display: none;
}
/*mobile media query*/
@media screen and (max-width: 650px) {
  .desktop2ColMobile1Col {
    grid-template-columns: 1fr;
  }
  .gridxto1 {
    grid-template-columns: 1fr;
  }
  .desktopOnly {
    display: none;
  }
}
@media screen and (min-width: 650px) and (max-width: 1000px) {
  .gridxto1 {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  nav {
    visibility: hidden;
  }
}







